_ignore/
project/AssistVRoid/obj/
project/AssistVRoid/bin/Debug/AssistVRoid.exe
project/AssistVRoid/bin/Debug/AssistVRoid.exe.config
project/AssistVRoid/bin/Debug/AssistVRoid.pdb
project/AssistVRoid/bin/Debug/AssistVRoid.vshost.exe
project/AssistVRoid/bin/Debug/AssistVRoid.vshost.exe.config
project/AssistVRoid/bin/Debug/AssistVRoid.vshost.exe.manifest
project/AssistVRoid/bin/Debug/config.txt
project/AssistVRoid/bin/Release/AssistVRoid.exe
project/AssistVRoid/bin/Release/AssistVRoid.exe.config
project/AssistVRoid/bin/Release/AssistVRoid.pdb
project/AssistVRoid/bin/Release/AssistVRoid.vshost.exe
project/AssistVRoid/bin/Release/AssistVRoid.vshost.exe.config
project/AssistVRoid/bin/Release/AssistVRoid.vshost.exe.manifest
project/AssistVRoid/bin/Release/config.txt
bat/release/